*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

/*Estilização do Header*/
header nav{
    height: 5rem;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #73ff00;
}

header nav img{
    height: 3.5rem;
    margin-right: 2rem;
    
}

/*Estilização do Banner*/

.banner{
    width: 100%;
    height: 50vh;
    background-image: url('/img/venus/TP6MS37G5FGNRD6UR4MRYKW3MI.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;   
    padding-left: 5rem;
    
}

.banner p, h1{
    color: white;
    margin-left: 5.2rem;
}

.banner h1{
    font-size: 5rem;
    margin-top: 2rem;
}

.banner p{
    width: 30%;
}

.text{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.text .description{
    width: 80%;
    text-align: justify;
    align-self: center;    
    color: rgb(0, 0, 0);
    font-family: 'Sora', sans-serif;
    font-size: 1.3rem;
}

.characteristics{
    background-color: #d1d1d1;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.characteristics h2{
    margin-bottom: 1rem;
}

.characteristics p{
    width: 80%;
    text-align: justify;
    align-self: center;    
    color: rgb(0, 0, 0);
    font-family: 'Sora', sans-serif;
    font-size: 1.3rem;
}

/*Estilização Photos*/
.photos{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}
.photos .photo-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.photos .photo-item{
    height: 10rem;
    width: auto;
}

/*Estilização do Footer*/

footer{
    height: 4rem;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #73ff00;
}